<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'BlackHole Sunglasses' %></title>
  <%= stylesheet_link_tag "style" %>
  <% if @cart || (@page_title && (@page_title.include?('Listing') || @page_title.include?('Displaying'))) %>
    <%= javascript_include_tag "application" %>
  <% end %>
</head>
<body>
  <header>
    <h1 id="logo">BlackHole&trade;</h1>
    <h2 id="slogan">High quality Sunglasses</h2>
  </header>

  <nav>
    <ul>
      <li><a href="/admin/manufacturer">Fabricantes</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/publisher">Publishers</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/glasses">Gafas</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/order">Pedidos</a>&nbsp;|&nbsp;</li>
      <li><a href="/">Catálogo</a>&nbsp;|&nbsp;</li>
      <li><a href="/about">About</a>&nbsp;</li>
    </ul>
  </nav>

  <div id="content">
    <h1><%= @page_title if @page_title %></h1>
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

  <% if @cart %>
    <div id="shopping_cart"><%= render :partial => 'cart/cart' %></div>
  <% end %>

  <footer>
    &copy; 2013-2014 BlackHole
  </footer>  
</body>
</html>
